*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  width: auto;
}

body {
  background-color: #dadada;
  font-family: sans-serif;
  font-size: 20px;
  width: 100%;
}

h1 {
  font-family: "Helvetica", sans-serif;
  font-variant: small-caps;
  text-align: center;
  padding-top: 30px;
  font-size: 90%;
}

.preview {
  font-family: "Arial", sans-serif;
  padding-left: 60px;
  padding-top: 20px;
  margin: 0 auto;
  width: 300px;
  height: 300px;
}

.baku {
  background-image: url("../images/baku.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;

}

.london {
  background-image: url("../images/london.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.madrid {
  background-image: url("../images/madrid.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.rome {
  background-image: url("../images/rome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

@media screen and (min-width: 575px) {
  .container {
    margin: auto;
    width: 100%;
  }

h1 {
  font-family: "Helvetica", sans-serif;
  font-variant: small-caps;
  text-align: center;
  padding-top: 40px;
  font-size: 90%;
}

.row {
  display: flex;
  flex-wrap: wrap;

}

.column {
  flex: 25%;
  width: 50%;
  position:

}

.preview {
  margin: 10%;
  width: 200%;
  height: 200%;
  width: 75%;

}

.baku {
  background-image: url("../images/baku.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.london {
  background-image: url("../images/london.png");
  background-size: cover;
  background-repeat: no-repeat;

}

.madrid {
  background-image: url("../images/madrid.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.rome {
  background-image: url("../images/rome.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
